/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[12].use[3]!./app/(main)/Workspace/Ongoing/page.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
/*
[
#222831 

#2D4059

#FF5722

#EEEEEE

#000000

#0061FF

#FFFFFF
]
*/

li > .p-menuitem-active {
    color: #0061ff !important;
}
::placeholder {
    /* Edge 12-18 */
    color: #000000 !important;
}
.p-highlight {
    border-color: red !important;
}

.dialog-setting {
    border-radius: 0% !important;
}
.p-steps-number {
    background-color: #000000;
}

