/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[12].use[3]!./app/(main)/Workspace/Ongoing/page.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
/*
[
#222831 

#2D4059

#FF5722

#EEEEEE

#000000

#0061FF

#FFFFFF
]
*/

.datatable-1 {
    background: #000000 !important;
    color: #ffffff !important;
    border: 1 !important;
    border-radius: 3px !important;
    border-color: rgba(0, 0, 0, 0.65) !important;
}
th {
    background: #000000 !important;
    color: #ffffff !important;
    border-color: #ffffff !important;
    font-size: 13px;
}
td {
    border-color: #ffffff !important;
}
li > .p-menuitem-active {
    color: #0061ff !important;
}
.p-datatable .p-datatable-tbody > tr {
    /* background: rgba(170, 169, 169, 0.187) !important; */
    background: #000000 !important;
    font-size: 15px !important;
    color: #ffffff !important;
    border: 4 !important;
}

::placeholder {
    /* Edge 12-18 */
    color: #000000 !important;
}
.p-highlight {
    border-color: red !important;
}

