/*!****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[12].use[3]!./layout/AppTopbar.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************/
.menu-top {
    color: #ffffff !important;
}

body {
    background-color: #000000;
}

.menu-main .p-menuitem-text {
    color: #ffffff !important;
}
.p-menuitem-active {
    background: transparent !important;
}
.p-submenu-list {
    background-color: #747272ba !important;
}

.menu-main .p-icon {
    color: #ffffff !important;
}
.p-menuitem-icon {
    color: #ffffff !important;
}

.p-menuitem-link:hover {
    background-color: transparent !important;
    border-color: #ffffff !important;
    color: #0061ff !important;
}
.p-menuitem-link {
    background-color: transparent !important;
}

